body {
    margin: 30px;
    background-color: beige;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
  }
  table tr th, table tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 25px;
  }
table tr th:first-child, table tr td:first-child {
    border-left: 1px solid #bbb;
  }
  table tr th {
    background: #eee;
    border-top: 1px solid #bbb;
    text-align: center;
  }
  
  /* top-left border-radius */
  table tr:first-child th:first-child {
    border-top-left-radius: 25px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 25px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 25px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 25px;
    
  }
html big {
    opacity: 0;
}

hr {
  width: 35rem;
  transform: translateY(2rem);
}

.main-title {
  transform: translateY(12rem);
}

.center { 
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-text {
    font-size: 3rem;
}

.main-text-1 {
    animation: fade 2s ease forwards
}

@keyframes fade {
   to { 
    opacity: 1;
    transform: translateY(0);
}
}

